*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #26547C;
    text-align: center;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    color: darkred;
    background-color: #468189;
}
#reset-btn{
height: 50px;
width: 200px;
background-color: #2A2C24;
color: whitesmoke;
border: none;
border-radius: 10px;
font-size: 5vmin;
box-shadow:0 0 1rem rgb(0,0,0,0.3) ;
}


#msg{
    margin-top: 200px;
    color: beige;
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.msg-container{
    height: 80vmin;
}


#new-btn{
    height: 50px;
width: 200px;
background-color: #2A2C24;
color: whitesmoke;
border: none;
border-radius: 10px;
font-size: 5vmin;
box-shadow:0 0 1rem rgb(0,0,0,0.3) ;
}

.hide{
    display: none;
}